body {
	margin: 0;
}

header{
	background: rgba(9, 187, 127, 0.747);
	color: white;
	padding: 15px 15px 0 15px;
	margin: 0;
}

header h1 {
	margin: 0;
	display: inline;
}

nav ul {
	margin: 0;
	display: inline;
	padding: 0 0 0 15px;
}

nav ul li{
	background:black ;
	color: white;
	display: inline-block;
	list-style-type: none;
}

nav ul li a {
	color: white;
	padding: 5px 15px;
	margin: 0;
}

.row {
	clear: both;
}


.col {
	background: darkcyan;
	border-radius:5px ;
	padding: .5%;
	margin: 1%;
	float: left;
	width: 25%;
}




footer {
	clear: both;
}